.purchasesformitem {
  max-width: 460px;
  flex-grow: 1;
  height: 135px;
  border-radius: 19px;
  border: 1px solid #edf2f7;
  padding: 18px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.purchasesform__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.purchasesform__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.purchasesform__info {
  margin-right: auto;

  h3 {
    margin: 0;
    font-size: 18px;
  }

  p {
    color: #a0aec0;
    font-size: 15px;
  }
}

.purchasesform__price {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
}

@media (max-width: 1024px) {
  .purchasesformitem {
    max-width: 326px;
    height: 96px;
  }
  .purchasesform__img {
    width: 35px;
    height: 35px;

    svg {
      width: 17px;
    }
  }
  .purchasesform__info {
    h3 {
      font-size: 13px;
    }

    p {
      color: #a0aec0;
      font-size: 11px;
    }
  }
  .purchasesform__price {
    font-size: 15px;
  }
}
