.menu__wrapper {
  max-width: 375px;
  display: flex;
  justify-content: space-between;
  a {
    color: var(--link-color);
    text-decoration: none;
    line-height: 26px;
    font-size: 18px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
  }
}
