*{
  --main-color: #5C4EAE;
  --main-color2: #A596FF;
  --link-color: #606060;
  --text-color: #676767;
  --text2-color: #6155AE;
  --text3-color: #201F1F;
  --title-color: #18181B;
  --title-color2: #6C5FBC;


  --button-text-color: white;
  --bored-color: #CBCBCB;
  
  
}

body {
margin: 0;
padding: 0;
font-family:  "Plus Jakarta Sans", sans-serif;


}

.container{
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  
}

a.active{
  color: var(--title-color2);
}

a {
  color: var(--link-color);
  text-decoration: none;
  line-height: 26px;
  font-size: 18px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  transition: .2s;
}

button{
  
  border-radius: 12px;
  padding: 18px 30px;
  transition: .3s;
  font-size: 16px;
  outline: none;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
}

.button__color{
  background-color: var(--title-color2);
  color: var(--button-text-color);

 
}

.button__color:hover{
  background-color: transparent;
  border: 1px solid var( --title-color2);
  color: var( --title-color2);
  
}

.button__transparent{
  background-color: transparent;
  border: 1px solid var( --title-color2);
  color: var( --title-color2);
}

.button__transparent_sans_border{
  background-color: transparent;
  border: 1px solid transparent;
  color: var( --title-color2);
}


@media (max-width: 1024px){
  .container{
    max-width: 887px;
    margin: 0 auto;
    
  }
}


@media (max-width: 768px){
  .container{
    max-width: 728px;
    margin: 0 auto;
    
  }
}



@media (max-width: 375px){

  .main{
     min-width: 375px;
  }
 
  .container{
    max-width: 315px;
    margin: 0 auto;
    background-color: #6786ec;
  }
}