.downloadapp__wrapper {
  height: 745px;

  margin: 100px auto 50px auto;
  display: flex;
  justify-content: space-evenly;

  border-bottom: 1px solid var(--bored-color);

  .downloadapp__img {
    // width: 50%;

    margin-left: 50px;
    position: relative;
    margin: 0 auto;

    img {
      width: 304px;
      height: 609px;
    }

    &::before {
      content: "";
      background-image: url("../../Image/hero_arrow3.png");
      background-repeat: no-repeat;
      background-size: cover;

      position: absolute;
      top: 0%;
      left: 100%;
      width: 38px;
      height: 33px;
      transform: rotate(205deg);
    }
  }

  .downloadapp__info {
    // width: 60%;
    margin-left: 50px;
    h2 {
      font-size: 50px;
      max-width: 560px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      span {
        color: #6c5fbc;
      }

      margin-bottom: 63px;
    }

    li {
      color: var(--text-color);
      max-width: 550px;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 28px;
    }

    button {
      position: relative;
      display: flex;
      font-size: 18px;
      font-weight: 500;
      margin-top: 61px;

      svg {
        margin-left: 10px;
      }

      &::before {
        content: "";
        background-image: url("../../Image/hero_arrow.png");
        background-repeat: no-repeat;
        background-size: contain;

        position: absolute;
        top: 120%;
        left: 60%;
        width: 154px;
        height: 87px;
        transform: rotate(115deg) rotateX(190deg);
      }
    }
  }
}

@media (max-width: 1024px) {
  .downloadapp__wrapper {
    height: 550px;
    .downloadapp__img {
      img {
        width: 216px;
        height: 433px;
      }

      &::before {
        content: "";
        background-image: url("../../Image/hero_arrow3.png");
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        top: 0%;
        left: 100%;
        width: 38px;
        height: 33px;
        transform: rotate(205deg);
      }
    }
    .downloadapp__info {
      h2 {
        font-size: 36px;
        margin-bottom: 15px;
      }

      li {
        font-size: 14px;
        max-width: 390px;
      }

      button {
        font-size: 13px;
        height: 45px;
        width: 132px;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        svg {
          margin-left: 10px;
          width: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .downloadapp__wrapper {
    flex-direction: column;
    margin: 0px auto 50px auto;
    height: 1100px;

    .downloadapp__info {
      order: 1;

      margin: 0 auto;

      text-align: center;

      li {
        text-align: justify;
      }

      button {
        font-size: 13px;
        height: 45px;
        width: 132px;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin: 50px auto 150px auto;
        svg {
          margin-left: 10px;
          width: 20px;
        }
        &::before {
          content: "";
          background-image: url("../../Image/hero_arrow.png");
          background-repeat: no-repeat;
          background-size: contain;

          position: absolute;
          top: -10%;
          left: -100%;
          width: 154px;
          height: 87px;
          transform: rotate(230deg) rotateX(190deg);
        }
      }
    }

    .downloadapp__img {
      order: 2;
    }
  }
}

@media (max-width: 768px) {
}
